@using Salvaviajes.DataObject

@model IEnumerable<IssueSummary>

@{
    ViewBag.Title = "Current Issues";
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
}

@if (Model != null && Model.Count() > 0)
{
<div class="content-details">
    <ul>
        @foreach (var m in Model)
        {
            <li>
                <h2>Category: @m.CategoryDescription</h2>
                <p><strong>Issue Description</strong>: @m.IssueDescription</p>
                <p>Location: @m.LocationDescription</p>
                <p><strong>Timestamp</strong>: @m.Timestamp.ToLongDateString()</p>
                <p><strong>Severity (Scale of 1-5)</strong>: @m.LikertScale</p>
            </li>
        }
    </ul>
</div>
}